.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.pokemon  {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    background-color: #49d0b0;
    border-radius: 1rem;
}

.pokemon .numero {
    color: black;
    opacity: 0.3;
    text-align: right;
}

.pokemon .nome {
    color: white;
    margin-bottom: 0;
}

.pokemon .detalhes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detalhes .movimentos {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detalhes .movimentos .movimento {
    background-color: #61e1ca;;
    color: white;
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    font-size: 0.62rem;
    border-radius: 1rem;
}

.pokemon .detalhes img {
    max-width: 100%;
    height: 80px;
}
